<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Komis samochodowy{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>


    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"></link>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('movie_index') }}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('opinion_index') }}">Opinions</a>
                </li>
            </ul>

            {% if app.user %}
                <span>Hello {{ app.user.username }}!</span>
                <a href="{{ path('app_logout') }}" class="btn btn-danger float-end ms-2">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-success float-end me-2">Login</a>
                <a href="{{ path('app_register') }}" class="btn btn-danger float-end">Register</a>

            {% endif %}

        </div>
    </div>
</nav>

<section class="container">
    {% block body %}
        <div>

        </div>

    {% endblock %}
</section>

<footer>
    © NK & FP
</footer>
</body>
</html>
